body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    place-items: center;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: clamp(1.25rem, 1rem + 2vw, 2rem);
    background: #92c7d6;
    background-image: -webkit-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
    background-image: -moz-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
    background-image: -o-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
    background-image: radial-gradient(top, circle cover, #97d0e1, #427388 80%);
  }


  .hero-section {
    position: absolute;
    top: 30%;
    left: 12%;
    transform: translateY(-30%);
    z-index: 10;
  }
  .hero-section > * {
    transform: translateY(80px);
    opacity: 0;
    animation: fadeUp 1s ease-out forwards;
  }
  .hero-section h1 {
    
    line-height: 2em;
  }
  
  .hero-section h1:nth-child(2) {
    animation-delay: 0.2s;
  }
  .hero-section h1:nth-child(3) {
    animation-delay: 0.5s;
  }
  .hero-section h1:nth-child(4) {
    animation-delay: 0.8s;
  }
  
  @keyframes fadeUp {
    0% {
      transform: translateY(80px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
   


.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .background span:nth-child(1) {
    color: #C5ECAC;
    top: 47%;
    left: 20%;
    animation-duration: 101s;
    animation-delay: -10.6666666667s;
    transform-origin: 20vw -1vh;
    box-shadow: -40vmin 0 7.3455506899vmin currentColor;
  }
  .background span:nth-child(2) {
    color: #b83e3e;
    top: 68%;
    left: 40%;
    animation-duration: 60s;
    animation-delay: -18.5333333333s;
    transform-origin: -11vw -2vh;
    box-shadow: -40vmin 0 6.0362372532vmin currentColor;
  }
  .background span:nth-child(3) {
    color: #C5ECAC;
    top: 65%;
    left: 65%;
    animation-duration: 80s;
    animation-delay: -2.7333333333s;
    transform-origin: -19vw 14vh;
    box-shadow: 40vmin 0 6.5418775551vmin currentColor;
  }
  .background span:nth-child(4) {
    color: #FE5E52;
    top: 38%;
    left: 70%;
    animation-duration: 124s;
    animation-delay: -9.5333333333s;
    transform-origin: 5vw -8vh;
    box-shadow: 40vmin 0 4.5986969818vmin currentColor;
  }
  .background span:nth-child(5) {
    color: #FE5E52;
    top: 66%;
    left: 55%;
    animation-duration: 131s;
    animation-delay: -19.3333333333s;
    transform-origin: 0vw -7vh;
    box-shadow: -40vmin 0 7.2306442762vmin currentColor;
  }
  .background span:nth-child(6) {
    color: #777DA6;
    top: 35%;
    left: 28%;
    animation-duration: 128s;
    animation-delay: -21.2s;
    transform-origin: 6vw 4vh;
    box-shadow: 40vmin 0 4.6897591705vmin currentColor;
  }
  .background span:nth-child(7) {
    color: #C5ECAC;
    top: 76%;
    left: 28%;
    animation-duration: 132s;
    animation-delay: -9.4666666667s;
    transform-origin: -12vw 16vh;
    box-shadow: 40vmin 0 7.2419208516vmin currentColor;
  }
  .background span:nth-child(8) {
    color: #FE5E52;
    top: 65%;
    left: 45%;
    animation-duration: 122s;
    animation-delay: -7.6s;
    transform-origin: 3vw 6vh;
    box-shadow: 40vmin 0 6.8109976645vmin currentColor;
  }
  .background span:nth-child(9) {
    color: #FE5E52;
    top:24%;
    left: 35%;
    animation-duration: 121s;
    animation-delay: -23.8666666667s;
    transform-origin: -5vw 17vh;
    box-shadow: 40vmin 0 5.6749051193vmin currentColor;
  }
  .background span:nth-child(10) {
    color: #777DA6;
    top: 43%;
    left: 22%;
    animation-duration: 117s;
    animation-delay: -6.6666666667s;
    transform-origin: 24vw 25vh;
    box-shadow: 40vmin 0 6.5126243769vmin currentColor;
  }

  @keyframes move {
    100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }



.svg-wrap {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}

a {
	color: #404d5b;
	text-decoration: none;
	outline: none;
}

section a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #404d5b;
	vertical-align: bottom;
	text-decoration: none;
	white-space: nowrap;
}

section a::before,
section a::after {
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}


.link-braces a {
	padding: 0 0.25em;
	font-weight: 500;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.link-braces a:hover {
	color: #427388;
}

.link-braces a::before,
.link-braces a::after {
	position: absolute;
	top: 0;
	font-weight: 100;
	font-size: 150%;
	line-height: 1.5;
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
}

.link-braces a::before {
	left: -0.1em;
	content: '[';
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.link-braces a::after {
	right: -0.1em;
	content: ']';
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.link-braces a:hover::before,
.link-braces a:hover::after {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}



.side {
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  height: 100%;
  width: 9rem;
  background: transparent;
}

.side_cento {
  position: absolute;
  top: 2rem;
  left: 1em;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin:    right bottom;
  -ms-transform-origin:     right bottom;
  -o-transform-origin:      right bottom;
  transform-origin:         right bottom;
  -webkit-transform: rotate(270deg);
  -moz-transform:    rotate(270deg);
  -ms-transform:     rotate(270deg);
  -o-transform:      rotate(270deg);   
  transform:         rotate(270deg);
}

.side_name { 
  margin: 0;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 2px;
  white-space: nowrap;
  color: #053e57;;
  font-weight: 800;
}

.side_1 {
  position: absolute;
  top: 38px;
  right: 26px;
  width: 2px;
  height: 5.2rem;
  background: #922e2e;
}

.side_2 {
  position: absolute;
  top: 38px;
  right: 26px;
  width: 1px;
  height: 100%;
  border-top: 2px dotted #922e2e;
  background: #680707;
  opacity: 0.2;
}